.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 18px;
  letter-spacing: 0.25px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
