.heroWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 270px;
  background-color: var(--black-color);
}
.heroText {
  text-align: center;
  height: 100px;
}
